nav {
    display: flex;
   
}
ul {
    display: inline-flex;
    overflow: hidden;
}
.motto {
    display: flex;
    border: yellow;
    }
    .motto .open {
        border: solid grey;
        border-width: medium;
        margin: 10px;
        padding: 60px;
        border-radius: 25px;
        width: 400px;
        text-align: center;
        height: 300px;   
    }
.motto .right {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 400px;
    text-align: center;
    height: 300px;  
}
.Why-Us {
    border: yellow;
    margin: 5;
}
div .Why-Us {
    border-radius:0%;
    background-color: yellow;
}
.Double {
    background-color: thistle;
}
body{
    font-family: 'poppins';
    width: auto;
}
.Us {
    background-color: w;
    display: flex;
    justify-content: center;
    text-align: center;
}
 .Us .Still {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 600px;
    text-align: center;
}
.still {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 600px;
    text-align: center;
}
.still2 {
    border:solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 600;
    tesxt-algn: center;
}

.close {
     display: flex;
}
.open {
    display: flex;
    border: solid;
}
.right {
    display: flex;
    border: solid;
    background-color: yellow;
}
.first {
    border: solid;
}
.second {
    border: solid;
}
.third {
    border: solid;
}
.Burgers .images1 {
    background-color: w;
    display: flex;
    justify-content: center;
    text-align: center;
}
.Burgers .images2 {
    background-color: w;
    display: flex;
    justify-content: center;
    text-align: center; 
}
.images1 .first {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px;
}
.images1 .second {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px;
}
.images1 .third {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px; 
}
.images2 .fourth {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px;
}
.images2 .fifth {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px;
}
.images2 .sixth {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px;
}
.menu {
    text-align: center;
}
.phone {
    width: auto;
}