nav {
    border: solid grey;
    overflow: hidden; 
    font-size: 200;
}
.navbar {
    float: left;
    display: flex;
    text-align: center;
}
body {
width: 1000px;
background-color: #E1EBE6;
}
.our2 {
    color: #F6B400;
}
.logo {
   float: left;
}
* {
    margin: 0px;
    padding: 0px;
    
}
ul {
    font-size: 45px;
    float: right;
    margin-top: 0px;
}
li {
    display: inline-block;
    padding: 15px 30px;
    color: brown;
    float: left;
}
.motto {
    display:flex;
    border: #F6B400;
    width: 200;
    border: hidden;
    margin: 0px;
    }
 .open {
        border: solid grey;
        border-width: medium;
        margin: 10px;
        padding: 60px;
        border-radius: 25px;
        width: 400px;
        text-align: center;
        height: 300px;   
    }
.motto .right {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 400px;
    text-align: left;
    height: 300px;  
}
.Why-Us {
    background-color: #F6B400;
    margin: 5;
    border-radius:0%;
    font-style: italic;
}
.Double {
    background-color: thistle;
    display: flex;
   
}
.doublep {
    border-width: medium;
    padding: 0px;
    border-radius: 0;
    width: 380px;
    text-align: center;
    
}
.arrange {
    border-width: medium;
    margin: 0;
    padding: 20px;
    border-radius: 0;
    width: 575px;
    text-align: center;
    border: solid grey; 
}

body{
    font-family: 'poppins';
    width: auto;
    text-align: center;
}
.Us {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
 .Us .Still {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 575px;
    text-align: center;
}
.still {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 575px;
    text-align: center;
}
.still2 {
    border:solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 575px;
    tesxt-algn: center;
}
.main {
    display: flex;
}
.close {
     display: flex;
}
.open {
    
}
.right {
    display: flex;
    text-align: right;
    background-color: #F6B400
    ;
}
.first {
    border: solid;
}
.second {
    border: solid;
}
.third {
    border: solid;
}
.images1 {
    background-color: w;
    display: flex;
    justify-content: center;
    text-align: center;
}
.images2 {
    background-color: w;
    display: flex;
    justify-content: center;
    text-align: center; 
}
.images1 .first {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px;
}
.images1 .second {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px;
}
.images1 .third {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px; 
}
.images2 .fourth {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px;
}
.images2 .fifth {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px;
}
.images2 .sixth {
    border: solid grey;
    border-width: medium;
    margin: 10px;
    padding: 60px;
    border-radius: 25px;
    width: 250px;
    text-align: center;
    height: 300px;
}
.menu {
    text-align: center;
}
.phone {
    width: auto;
}
.open {
    display: inline;
}
.below {
    font-weight: 700;
    font-style: oblique;
    font-size: x-large;
}
.nav2 {
      width: 400px;
      float: left;
      height: 70px;
}
.sub {
    font-size: x-large;
    font-style: oblique;
    font-weight: bold;
}
.yellow {
    color: #F6B400;
    font-size: x-large;
    font-weight: bold
    font-style: oblique;
}

.menu {
    font-weight: 900;
}
.nav2 {
    display: inline;
    font-size: 300;
}
.button {
    background-color: #F6B400;
}
#awesome {
    display: flex;
    float: left;
}
.ex {
    color: #F6B400;
}